$enable-rounded: false

@import "bootstrap"

html, body
  font-size: 1rem
  margin: 0px
  padding: 0px
  width: 100%

@include media-breakpoint-up(sm)
  html
    font-size: 1.1rem

@include media-breakpoint-up(md)
  html
    font-size: 1.2rem

@include media-breakpoint-up(lg)
  html
    font-size: 1.4rem

// Convenience class used to horizontally center elements
.h-center
  display: flex
  justify-content: center

// Convenience class used to vertically center elements
.v-center
  display: flex
  flex-direction: column
  justify-content: center

// Class used for creating a thick border
.border-thick
  border-width: 0.25rem !important

// Class used to fix flexbox overflow behavior in non-Chrome browsers
.flex-fix
  min-height: 1px

// Class used to make the matrix elements appear square
.matrix-element
  font-size: 8px
  height: auto
