$enable-rounded: false

@import "bootstrap"

// Dimensions for the matrices
.matrix
  height: 35vw
  width: 35vw

// Dimensions for the statistics bar
.stats-bar
  height: 35vw

// Convenience class used to horizontally center elements
.h-center
  display: flex
  justify-content: center

// Convenience class used to vertically center elements
.v-center
  display: flex
  flex-direction: column
  justify-content: center

// Class used for creating a thick border
.border-thick
  border-width: 0.25rem !important
